doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Test - Илья Рецер
		// build:css css/vendor.css
		// bower:css
		link(rel='stylesheet', href='../assets/bower_components/animate.css/animate.css')
		link(rel='stylesheet', href='../assets/bower_components/slick-carousel/slick/slick.css')
		link(rel='stylesheet', href='../assets/bower_components/slick-carousel/slick/slick-theme.css')
		// endbower
		// endbuild 

		// build:css css/bundle.css 
		link(rel='stylesheet', href='styles/styles.css')
		// endbuild
	body
		header
			.row_line.clearfix
				.line_1.line
				.line_2.line
				.line_3.line

			.container
				.logo.col-md-2
					image(src="images/logo.png")
				.slogan.col-md-5.col-md-offset-1
					strong Умный факторинг 
					| для развивающихся компаний малого и среднего бизнеса
				.contacts.col-md-3
					.tel 8-800-
						strong 775-69-70
					.email 
						a(href="mailto:info@factoring-network.ru") info@factoring-network.ru

		nav
			.container
				.row
					ul.menu
						li.col-md-4 Финансовые решения
						li.col-md-4 бизнес инструменты
							ul.submenu
								li Подключение к Электронному документообороту
								li Оценка Контрагента
								li Управление Дебиторской задолженностью
						li.col-md-4 для инвесторов


		section.slider
			.navs.container
			.carousel
				.slide_1
					.container
						h3.title ОТКРОЙ ВОЗМОЖНОСТИ ДЛЯ
							br
							| РОСТА БИЗНЕСА УЖЕ СЕЙЧАС
						p.description Мы предлагаем комплекс услуг, повышающих удобство
							br
							| ведения бизнеса.

						.button Получить деньги

						a(href="#").more Что такое факторинг?

						.image
				
				.slide_1
					.container
						h3.title ОТКРОЙ ВОЗМОЖНОСТИ ДЛЯ
							br
							| РОСТА БИЗНЕСА УЖЕ СЕЙЧАС
						p.description Мы предлагаем комплекс услуг, повышающих удобство
							br
							| ведения бизнеса.

						.button Получить деньги

						a(href="#").more Что такое факторинг?

						.image
				
				.slide_1
					.container
						h3.title ОТКРОЙ ВОЗМОЖНОСТИ ДЛЯ
							br
							| РОСТА БИЗНЕСА УЖЕ СЕЙЧАС
						p.description Мы предлагаем комплекс услуг, повышающих удобство
							br
							| ведения бизнеса.

						.button Получить деньги

						a(href="#").more Что такое факторинг?

						.image
			
				


		section.features
			.container
				h2.title Удобный и простой способ получить деньги

				.col-md-4
					.image
					h4.item_title Разумная цена
					p.description Мы по разумной цене предоставляем
						br
						| услуги, которые действительно
						br
						| способствуют успеху в развитии Вашего
						br
						| бизнеса

				.col-md-4
					.image
					h4.item_title Реальные сроки 
					p.description Мы устанавливаем реальные
						br
						| сроки по рассмотрению заявок Клиентов
						br
						| и соблюдаем их
				
				.col-md-4
					.image
					h4.item_title Электронный факторинг
					p.description Мы активно используем в работе 
						br
						|с контрагентами юридически значимый
						br
						| документооборот, что позволяет нашим
						br
						| партнерам получать все преимущества
						br
						| электронного факторинга


		section.conditions
			.container
				h2.title Условия финансирования

				.col-md-4
					.image
					h4.item_title Отсрочка платежа
					p.description До 120 календарных дней

				.col-md-4
					.image
					h4.item_title Льготный период
						br
						| ожидания 
					p.description До 60 календарных дней

				.col-md-4
					.image
					h4.item_title Размер
						br
						| финансирования
					p.description До 95% от суммы поставки




		section.advantages
			.block_1
				.container
					h2.title GLOBAL FACTORING NETWORK ОБЯЗАТЕЛЬНО РЕШИТ ВАШУ ЗАДАЧУ
					p.title_description 
						strong Вы пытаетесь увеличить Ваш бизнес, но отсутствуют идеи где взять средства?
						| У нас есть решение! Global Factoring Network – это инновационный «умный» факторинг для развивающихся компаний малого и среднего бизнеса.

					.item_1
						.image
						h4.item_title Финансирование с регрессом
						p.description Эффективно управляй поставками и деньгами без отсрочек оплаты дебиторов и контрагентов.

					.item_2
						.image
						h4.item_title Финансирование без регресса
						p.description Уже сейчас получи до 95% от суммы поставки товара с отсрочкой платежа.
			
			.block_2
				.container
					p 
						strong Мы предлагаем вам воспользоваться всеми преимуществами финансового нетворкинга –
						| комплексного эффективного решения в сфере финансирования бизнеса, страхования риска неплатежа и управления дебиторской задолженностью.

			.block_3
				.container
					.box
						h4.item_title Мы такие же как и Вы. Мы понимаем все аспекты Вашего бизнеса и готовы сделать его больше уже сегодня.
						p.description Команда Global Factoring Network имеет значительный успешный опыт на рынке российского факторинга и предлагает профессиональный сервис, превосходящий самые смелые ожидания.
						.logo
						.caption CEO Global Factoring Network, Примаченко Алексей
		

		section.partners
			.container
				h2.title Мы активно развиваем бизнес с успешными компаниями
				.box
				.box
				.box
				.box
				.box
				.box


		section.opinions
			.container
				h2.title Мы активно развиваем бизнес с успешными компаниями


		section.call_to_action
			.container
				p Хотите узнать стоимость услуг?
				| ЗВОНИТЕ!
				span.tel 8-800-775-69-70


		section.about_factoring
			.container
				h2.title Что нужно знать о факторинге

				.col-md-4
					.image
					h4.item_title 100 000 q
					p.description Размер дебиторской задолженности

				.col-md-4
					.image
					h4.item_title 90 000 q
					p.description Получение первого финансирования (платежа)

				.col-md-4
					.image
					h4.item_title 8 000 q
					p.description Получение окончательного расчета (второго платежа)


		section.lead
			.container
				p 
					strong Остались вопросы?
					| Оставьте заявку и мы расскажем
					| о факторинге 
					span все!

				form
					input(type="text" placeholder="Ваш телефон")
					input(type="submit" value="Заказать обратный звонок")


		footer
			.line
				.line_1
				.line_2
				.line_3

			.container
				.logo
				.contacts
					.tel 8-800-775-69-70
					.email info@factoring-network.ru
					.adress Москва, 123007 Хорошевское шоссе 32А
				.socials
					a(href="#") О компании

				.caption © Global Factoring Network 2015










		
		// build:js js/vendor.js
		// bower:js
		script(src='../assets/bower_components/jquery/dist/jquery.js')
		script(src='../assets/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
		script(src='../assets/bower_components/jquery-easing-original/jquery.easing.min.js')
		script(src='../assets/bower_components/jquery-smooth-scroll/jquery.smooth-scroll.js')
		script(src='../assets/bower_components/jquery-waypoints/waypoints.js')
		script(src='../assets/bower_components/slick-carousel/slick/slick.min.js')
		// endbower
		// endbuild 

		// build:js js/common.js    
		script(src="scripts/scripts.js")
		// endbuild